<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caramanta</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="menu container">
            <a href="#" class="logo">Logo</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="images/menu-btn.png" class="menu-icono" alt="">
            </label>

            <nav class="navbar">
                <ul>
                    <li><a href="#menuu">Inicio</a> </li>
                    <li><a href="#proyectoo">Proyecto</a></li>
                    <li><a href="#portafolioo">Portafolio</a></li>
                    <li><a href="#contactoss">Contactos</a></li>
                </ul>
            </nav>
        </div>

        <div id="menuu" class="header-content container">
            <div class="content">
                <h1>Proyecto Practica Nuevas Tecnologias</h1>
                <p>
                    Siembra de arboles y bases de datos con Python
                </p>
                <a href="#" class="btn-1">Mas información</a>
                <a href="#" class="btn-1">Mas información</a>
            </div>
            <img src="images/astronauta.png" alt="">
        </div>
    </header>
    
</body>
</html>